<style>
    body {
        margin: 0vh 0vh 0vh 0vh;
    }
    
    header {
        position: relative;
        background-color: rgba(172, 211, 115, 1.0);
        height: 10vh;
/*        padding: 0vh 0vh 0vh 0vh;*/
    }
    
    logo {
        height: 7vh;
        margin-left: 5vw;
    }
    
    logo img {
        position: absolute;
/*        height: 7vh;*/
        height: 7vmin;
        height: 7vmax;
        top: 1.5vh;
        left: 5vh;
    }
    
    nav {
        position: relative;
        background-color: rgba(137, 168, 92, 1.0);
        display: inline-block;
        height: 10vh;
        width: 10vh;
        float: right;
    }
    
    nav img {
        position: absolute;
        height: 4vh;
        width: 4vh;
        top: 3vh;
        left: 3vh;
        cursor: crosshair;
    }
    
    main {
        position: relative;
        background-color: rgba(154, 189, 103, 1.0);
        height: 90vh;
        background-image: url("../media/4siluetBG.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        text-align: center;
        color: rgba(245, 245, 245, 1.0);
        /* Override to get header and main with no gaps */
/*
        -webkit-margin-before: 0.0em;
        -webkit-margin-after: 0.0em;
*/
    }
    
    .sourceSanspro {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5vmin;
        line-height: 5vh;
        margin-top: 0vh;
        padding: 25vh 0vh 0vh 0vh;
    }
    
    .droidSerif {
        font-family: 'Droid Serif', serif;
        font-style: italic;
        font-weight: normal;
        font-size: 3.5vmin;
        line-height: 3.5vh;
    }
    
    .arrow {
        height: 3vh;
        margin-top: 5vh;
        cursor: crosshair;
    }
    
</style>