* {box-sizing: border-box;}
.noBackground {
    background-color: rgba(0,0,0,0.0);
}
/** {border: 1px solid red;}*/

/**********************************/
/* Hide laptop & Desktop elements */

ul.desktop.nav {display: none;}

img.desktop.arrow {display: none;}

* {
    /*    background-color: aquamarine;*/
}

/*****************/
/* reset margins */
body {
    margin: 0vh;
    min-height: 100vh
}

/*****************/
/* set page size to default 100% on all pages*/

.page2 {min-height: 100vh;}

.page3 {
    /*    height: 150vh;*/
    min-height: 100vh;
/*    max-height: 165vh;*/
}

.page4 {
    border: 2px dotted red;
    min-height: 100vh;
    background-color: rgba(172, 210, 116, 1.0)
}

.page5 {
    min-height: 100vh;
/*    max-height: 117vh;*/
}

.page6 {
    min-height: 100vh;
}

.page7 {
    min-height: 100vh;
}

.page8 {
    min-height: 100vh;
    background-color: #e27373;
}


/* Page 1 Landing page */

header {
    position: relative;
    background-color: rgba(172, 211, 115, 1.0);
    min-height: 10vh;
}

logo {
    height: 7vh;
}

logo img {
    position: absolute;
    height: 7vh;
    top: 1.5vh;
    left: 5vw;
}

nav.mobile {
    position: relative;
    background-color: rgba(137, 168, 92, 1.0);
    display: inline-block;
    height: 10vh;
    width: 10vh;
    float: right;
}

nav img {
    position: absolute;
    height: 4vh;
    width: 4vh;
    top: 3vh;
    left: 3vh;
    cursor: crosshair;
}


/*main {*/

.landingPage {
    position: relative;
    background-color: rgba(154, 189, 103, 1.0);
    min-height: 100vh;
    background-image: none;
    background-image: url("../media/4siluetBG.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    color: rgba(245, 245, 245, 1.0);
}

.sourceSanspro {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vh;
    line-height: 5vh;
    margin-top: 0vh;
    padding: 25vh 0vh 0vh 0vh;
}

.droidSerif {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 3.5vh;
    line-height: 3.5vh;
}

.arrow {
    height: 3vh;
    margin-top: 5vh;
    cursor: crosshair;
}


/* Page 2 Who We Are */

div.page2 img.iphone {
    /*    border: 1px dotted green;*/
    display: block;
/*    margin: auto;*/
    min-height: 47.5vh;
    /* Image in layout was off-center, a little */
/*    margin-left: calc(50% - 8%);*/
/*    position: absolute;*/
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}


/* div containing page content */

div#page2main {
    position: relative;
    /*    border: 1px dotted green;*/
    margin-right: 5%;
    margin-left: 5%;
}


div.page2 img.man {
    position: relative;
    /*    border: 1px dotted green;*/
    margin: auto;
    min-height: 7.5vh;
}


/* Text to right of man image */

div.page2 div span {
    position: relative;
    font-family: sans-serif;
    font-size: 4vh;
    line-height: 6.5vh;
    top: 12%;
/*    padding-left: 2vw;*/
}


/* Text under man image */

div.page2 div p {
    font-family: "Roboto", sans-serif;
    /*    border: 1px dotted red;   */
    font-size: 2.25vh;
}

button.greenborder.greentext.italic {
    font-size: 1.1em;
    border: 2px solid rgb(172, 210, 116);
    color: rgb(172, 210, 116);
    font-family: serif;
    text-align: center;
    font-style: italic;
    background-color: white;
    padding: .66em 1.22em .66em 1.22em;
    margin: .0em;
    display: inline-block;
}


/* Page 3 Our Services */

div.page3 img.mobile.video {
    min-height: 52vh;
    width: 100%;
    clip: rect(0px, 60px, 0px, 60px);
}

div.page3 h1 span.greentext {
    color: rgb(172, 210, 116);
}

div.page3 h1,
div.page3 h1 span.greentext {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3vh;
}

div.page3 h1 span.greentext {
    font-size: 1.0em;
}

div.page3 p {
    text-align: center;
    font-family: serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.35vh;
}

div.page3 img.mobile.sep {
    display: block;
    margin: auto;
    width: 19%;
}

div.page3 div#services {
    /*    background-color: aliceblue;*/
/*    margin: 0%;*/
    min-height: 52vh;
}

div.page3 div div#services div img.mobile {
    min-height: 12vh;
    float: left;
    margin-right: 8%;
    /*    margin-bottom: 2vh;*/
}

div.page3 div div#services div img.mobile.shrink {
    width: 10vw;
    min-height: 9vh;
    max-width: 11%;
    margin-right: 7%;
}

div.page3 div div#services div span.sans-serif.greenText {
    position: relative;
    color: rgb(172, 210, 116);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2.4vh;
/*    padding-bottom: 5vh;*/
}

div.page3 div div#services div span.sans-serif.greenText span.blackText {
    /*    background-color: chartreuse;*/
    position: relative;
    top: -1.5vh;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
}

div.page3 div div#services div,
div.page3 div div#services {
    /*    border: 3px dotted black;*/
    margin: 0.1% 8%;
}

div.page3 div button.greenborder.greentext.italic {
    display: block;
    font-family: serif;
    font-size: 4vh;
    margin: auto;
    margin-bottom: 10%;
}


/* *** Page 4  Meet Our Amazing Team  *** */

div.page4 h1,
div.page4 p {
    position: relative;
    display: block;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 3.5vh;
    color: rgba(241, 243, 239, 1.0);
    text-align: center;
}
div.page4 h1 {
    top: 8vh;
}
div.page4 div.ceoContainer div {
    /*    background-color: aliceblue;*/
}

div.page4 p.heading {
    font-size: 2.4vh;
    top: 7vh;
}

div.page4 img.mobile.sep {
    position: relative;
    top: 7vh;
    width: 20%;
    display: block;
    margin: auto;
}

.ceoContainer {
/*    border: 2pc solid black;*/
/*    z-index: +555*/
}

div.page4 img.mobile.ceoPic {
    position: relative;
    display: inline;
    top: 15vh;
    min-height: 20vh;
/*    min-width: 25vw;*/
/*    width: 22%;*/
/*    left: calc(50% - 22% / 2 );*/
    margin-left: calc(50% - 22% / 2 );
    
    z-index: +120;
}

#ceoBoxTwoTone,
#ceoBoxDarkTone {
    margin-left: 21.5%;
    margin-right: 23.5%;    
}

#ceoBoxTwoTone {
    position: relative;
    top: 6vh;
    min-height: 42vh;
    min-width: 25%;
    background-color: rgba(238, 246, 248, 1.0);
    border-radius: 15px;
    z-index: +100;
}

#ceoBoxDarkTone {
    position: relative;
    top: -1.5vh;
    min-height: 15vh;
    min-width: 3%;
    background-color: rgba(217, 229, 229, 1.0);
    border-radius: 0vw 0vw 15px 15px;
    z-index: +101;
}

div.page4 img.mobile.larrow, 
div.page4 img.mobile.rarrow {
    position: relative;
    height: 10vh;
    top: -37vh; 
}
div.page4 img.mobile.larrow {
    left: 5%;
}

div.page4 img.mobile.rarrow {
    left: 83%;
}

div.page4 div p#nameCeo {
    /*    border: dotted 5px black ;*/
    position: relative;
    top: -45vh;
/*    left: 11%;*/
    text-align: center;
    color: rgb(172, 210, 116);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3vh;
    z-index: +150;
}

div.page4 div.ceoContainer div p#nameCeo span.italic.serif {
    position: relative;
    top: -1vh;
    left: 0vw;
/*    text-align: center;*/
    font-family: serif;
    font-weight: 100;
    font-size: 3vh;
    font-style: italic;
    color: black;
    z-index: +160;
}

div.page4 span img.mobile {
    display: inline;
    position: relative;
    min-height: 6vh;
    left: calc(50% - 145px);
    top: -30vh;
    z-index: +120;
}

div.page4 div,
div.page4 div button {
    color: rgba(241, 243, 239, 1.0);
    
}

#actionFooter {
    position: relative;
    margin: 0;
    top: -0vh;
    min-height: 15vh;
    background-color: rgba(156, 188, 104, 1.0);
    z-index: +170;
}

div.page4 div span {
    /*    background-color: rgba(0,0,0,0.0);*/
    position: relative;
    top: -3vh;
    left: 10%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 3vh;
}

div.page4 div button {
    background-color: rgba(0, 0, 0, 0.0);
    position: relative;
    top: 4vh;
    left: 22%;
    border: 1px solid aliceblue;
    color: aliceblue;
    font-family: serif;
    text-align: center;
    font-style: italic;
    font-size: 3vh;
    padding: .66em 1.22em .66em 1.22em;
    margin: .0em;
}

#actionFooter span {
    position: relative;
    top: 4vh;
    left: 5%;
}


/* Page 5 Our Recent works */

div.page5 p.heading {
    position: relative;
    top: 8.5vh;
    text-align: center;
    font-size: 2.75vh;
    margin-top: 2vh;
}

div.page5 h1 {
    position: relative;
    top: 10.75vh;
}

div.page5 h1 span.greentext {
    color: rgb(172, 210, 116);
}

div.page5 h1,
div.page5 h1 span.greentext {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3.5vh;
}

div.page5 h1 span.greentext {
    font-size: 1.0em;
}

div.page5 img.mobile.sep {
    position: relative;
    top: 10vh;
    width: 20%;
    display: block;
    margin: auto;
}

div.page5 img.mobile.letoy {
    position: relative;
    top: 18vh;
    margin-left: 7.5%;
    width: 80%;
    min-height: 32vh;
    /*    padding-left: 5vw;*/
}

div.page5 div#letoyGreybox {
    position: relative;
    top: 14vh;
    left: 7.5%;
    background-color: rgba(238, 238, 238, 1.0);
    width: 80%;
    height: 15vh;
    z-index: -1;
}

div.page5 div#letoyGreybox p.bold.blackText {
    position: relative;
    top: 4vh;
    font-size: 2.75vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

div.page5 div#letoyGreybox p.italics {
    position: relative;
    top: 2vh;
    font-size: 2.5vh;
    text-align: center;
    color: rgba(155, 155, 155, 1.0);
    font-family: serif;
    font-weight: 00;
    font-style: italic;
}

div.page5 button.greenborder.greentext.italic {
    position: relative;
    top: 23vh;
    display: block;
    font-size: 1.15em;
    margin: auto;
}

div.page5 div.mobile.footer {
    position: relative;
    margin: 0;
    top: 32vh;
    min-height: 15vh;
    background-color: rgba(238, 238, 238, 1.0);
    z-index: +1;
}

div.page5 div.mobile.footer img.mobile.logoEnvato {
    position: relative;
    margin: auto;
    top: 3vh;
    left: 3%;
    width: 37%;
    min-height: 3%;
}

div.page5 div.mobile.footer img.mobile.logoThemeforest {
    position: relative;
    margin: 0;
    top: 4vh;
    left: 11%;
    width: 40%;
    min-height: 2.5%;
}

div.page6 {}
div.page5 {}

/* Page 6  Testimonials */

.page6 {
    min-height: 125vh;
}

div.page6 {
    background-image: url("../media/MOBILE IMAGES/22testimonialBG.png");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: aliceblue;
color: rgb(220,220,220);
    font-family: 'Roboto', serif;
    font-weight: 400;
/*    font-style: italic;*/
}
div.page6 span img.mobile, div.page6 p.text, div.page6 h1.leftjustified.whiteText, div.page6 p.leftjustified.testimonial, div.page6 p.leftjustified button.greenborder.italic {
    left: 7.5%;
    
}   

div.page6 span img.mobile {
    position: relative;
    top:12.5vh;
    min-height: 55vh;
}

div.page6 p.text {
    position: relative;
    top: -30.5vh;
    left: 10%;
    font-size: 3.1vh;
    margin-right: 24%;
    font-family: serif;
    font-weight: 400;
}

div.page6 img.mobile.carousel {
    position: relative;
    display: block;
    margin-left: calc(50% - 7.5% );
    top: 3vh;
    min-height: 3vh;
}

div.page6 h1.leftjustified.whiteText {
    position: relative;
    top: 12vh;
    font-size: 4vh;
    font-weight: 500;
}

div.page6 p.leftjustified.testimonial {
    position: relative;
    top: 13vh;
    font-size: 3.25vh;
    margin-right: 15%;
    font-weight: 400;
}

div.page6 p.leftjustified button.greenborder.italic {   display: block;
    position: relative;
    background-color: rgba(0,0,0,0.0);
    top: 4vh;
    left: 0vw;
}

div.page7 {}

div.page8 {
    min-width: 100%;
}