/* .  handheld  . */

span#title {
    position: inherit;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 0.75px 0.75px rgba(112, 127, 116, 1.0);
    color: rgba(242, 232, 218, 0.9);
    top: -0vmin !important;
    left: auto;
    font-size: 6vmin;
    line-height: 8.5vmin;
    padding-left: +17vmin;
    z-index: +15;
}

.paisleyBorderTop {
    display: none;
/*    display: inline-block;*/
}

.hamburger {
    top: -42rem;
    left: -15rem;    
}


#on-hidden-menu li a {
    z-index: +3333 !important;
}