/*     .   main     .   */
  
  html {
      font-size: 1vw;
  }
  
  * {
      box-sizing: border-box;
  }
  
  @media all and (max-width:445px) {

      .paisleyBorderTop {
          display: none !important;
      }
      #wowContainer {
          top: 5.5vmin !important;
          left: -29.5vw !important;
          width: 100%;
      }
      #wowslider-container1 {
          max-width: 320px;
          max-height: 240px;
      }
      #wowslider-container1 {
          width: 320px;
      }
      #wowslider-container1 .ws_images {
          max-height: 240px;
          max-width: 320px;
      }
      #wowslider-container1 .ws_images ul a {
          max-height: 240px;
      }
      #wowslider-container1 .ws_images > div > img {
          max-height: 240px;
      }
      .hamburger {
          top: -17rem;
          /*            float: left;*/
          left: -14rem;
      }
  }
  
  @media all and (max-width:767px) {
      .paisleyBorderTop {
          display: none !important;
      }
      #wowslider-container1 {
          max-width: 320px;
          max-height: 240px;
      }
      #wowslider-container1 {
          width: 320px;
      }
      #wowslider-container1 .ws_images {
          max-height: 240px;
          max-width: 320px;
      }
      #wowslider-container1 .ws_images ul a {
          max-height: 240px;
      }
      #wowslider-container1 .ws_images > div > img {
          max-height: 240px;
      }
  }
  
  @media all and (max-width:1070px) {}
  
  .paisleyBorderTop {
      display: none !important;
  }
}

@media all and (max-width:1399px) {}
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgba(0, 0, 0, 1.0);
    -webkit-transition: background-color 3sec ease-in-out;
    transition: background-color 3sec ease-in-out;
    margin: 0;
}
#footer,
footer {
    margin-top: 7.5vmin;
}
h1 {
    display: inline-block;
    position: absolute;
    font-family: 'Architects Daughter', cursive;
    color: rgba(92, 244, 66, 1.0);
    font-size: 9vmin;
    font-size: 7.0em;
    text-shadow: 0.75px 0.75px rgba(112, 127, 116, 1.0);
    line-height: 9vmin;
    top: 13.5vmin;
}
h1.hdr {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 1.0);
    margin: 0;
    padding: 0;
}
h2,
h3 {
    display: block;
    text-align: center;
    text-shadow: 0.75px 0.75px rgba(112, 127, 116, 1.0);
    font-family: 'Architects Daughter', cursive;
    font-size: 2.0em;
    font-size: calc( 2.0rem + 10px);
    z-index: +1;
}
h3 {
    text-shadow: 0.75px 0.75px rgba(82, 97, 86, 1.0);
}
.paisleyBorderTop {
    display: none;
    /*    display: inline-block;*/
}

/* ************* Start of item box ******* */
.picBox {
    border: 1.25px solid rgba(244, 210, 161, 1.0);
    background-color: rgba(112, 127, 116, 1.0);
    -webkit-transition: background-color 3sec ease-in-out;
    transition: background-color 3sec ease-in-out;
    width: 140vmin;
    border-radius: 35px;
    margin: 3.0vmin;
    white-space: normal;
    overflow: auto;
}
.itemPic {
    display: inline;
    margin: 1.5vmin;
    border: 2px solid black;
    float: left;
    margin: 3.0vmin;
    width: 53vmin;
}
.itemTxt {
    font-family: sans-serif;
    display: inline;
    float: right;
    width: 27vmin;
    margin: 0.5vmin .5vmin 1.5vmin 0;
}
.horizLine {
    display: inline-block;
    width: 28%;
    margin-left: 3%;
}

/*
.price {
    font-size: 3.25vmin !important;
    font-size: 3.25vmin !important;
    text-align: center;
}
*/
button:hover,
input:hover {
    color: white !important;
    border: 2px solid rgba(255, 255, 255, 1.0) !important;
    font-size: 3.25vmin !important;
    font-size: calc( 1.35rem + 1.2vw)!important;
    width: 9.5vw;
    transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
input,
button {
    font-family: 'Architects Daughter', cursive !important;
    /*    font-size: 1.3em !important;*/
    
    font-size: calc( 1.2rem + 1vw)!important;
    color: lightgray !important;
    border: 1px solid black !important;
    margin-bottom: 0.75vw;
    width: 9vw !important;
    height: 7.5vh !important;
    border-radius: 25% !important;
    background-image: url("../media/cherry-wood-panels-background-header.jpg");
}

/* ************* end of item box ******* */
#container {
    position: inherit;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-image: url("../media/cherry-wood-panels-background-header.jpg");
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-flow: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    top: -19.75vmin;
    width: 100%;
    overflow: auto;
}
img {
    border-radius: 35px;
}
#ball {
    background-image: url(http://www.animatedimages.org/data/media/389/animated-coin-image-0011.gif);
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 79, 26, 0.9);
    min-width: 15vmin;
    min-height: 15vmin;
    border-radius: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*     transition: all 2s;   */
    
    top: 50%;
    left: 50%;
    z-index: +1;
}
.spinBall {
    -webkit-animation: spin 0.35s ease infinite;
    animation: spin 0.435s ease infinite;
}

/*
@-moz-keyframes spin {
    100% {
        -moz-transform: rotateY(180deg);
    }
}
@-ms-keyframes spin {
    100% {
        -ms-transform: rotateY(180deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateY(180deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotateY(180deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotateX(180deg);
    }
}

@-ms-keyframes spin {
    100% {
        -ms-transform: rotateX(180deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateX(180deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotateX(180deg);
    }
*/
#ball:hover {
    background-color: blue !important;
    min-height: 20vmin;
    min-width: 20vmin;
}
span {
    display: inline;
}
::-webkit-scrollbar {
    width: 19px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.05);
}
span#title {
    position: relative;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 0.75px 0.75px rgba(112, 127, 116, 1.0);
    color: rgba(242, 232, 218, 0.9);
    top: -0vmin;
    font-size: 6vmin;
    font-size: 6vmin;
    line-height: 8.5vmin;
    padding-left: 9.5vmin;
}
#simpleToggle:hover {
    width: 11.75vw !important;
    left: 14.5vw;
    background-color: rgba(121, 201, 1, 0.5) !important;
    background-image: none !important;
    color: rgba(242, 242, 242, 1.0) !important;
    font-family: sans-serif !important;
    font-size: 1.49vw !important;
    font-size: 1.49vw !important;
    border: 1.5px dotted rgba(2, 255, 2, 1.0) !important;
    border-radius: 50% !important;
}
#simpleToggle {
    position: absolute;
    top: 0vh;
    left: 15.5vw;
    width: 9.5vw !important;
    height: 6vh !important;
    background-color: rgba(222, 222, 222, 0.85) !important;
    background-image: none !important;
    font-size: 2vw !important;
    font-size: 2vw !important;
    border-radius: 15px !important;
    color: rgba(2, 2, 2, 1.0) !important;
}

/* Color Green 
            rgba(112, 127, 116, 1.0);
            rgba(16, 93, 0, 1.0);
            rgba(130, 190, 1, 1.0);
            rgba(118, 173, 0,1.0);
*/