/*format for css:

header h1 {
  color #00802b;
}

header {
  background: url('https://static.pexels.com/photos/225025/pexels-photo-225025.jpeg');
  width: 100%;
  padding 50px;
  text-align: center;
  background-size: cover;
}
