/*format for css: */

header h1 {
  color: #00802b;
}

header h1:hover {
  color: orange;
  }

footer:hover {
  color: green;
  }

p:hover {
  color: blue;
  }

article h1:hover {
  color: purple;
  }

#green, #blue {
  color: white;
  font-size: 20px;
  font-style: italic;
}

#green {background: green}
#blue {background: blue}



header {
  background: url('https://static.pexels.com/photos/225025/pexels-photo-225025.jpeg');
  width: 100%;
  padding 50px;
  text-align: center;
  background-size: cover;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: p;
  overflow: hidden;
  background-color: #333;
}

nav li {
  text-align: center;
  float: left;
}

nav li a {
 display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: red;
  }

p, img {
  display: none;
}
